@model Document_Editor.Models.Document

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-2">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Content" id="tiny" style="width: 75vw; height: 60vh;"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" type="hidden" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Delete" asp-route-id="@Model.Id" class=" btn btn-danger">Delete Document</a>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info mt-5">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
